<%= form_with(model: armazenamento) do |form| %>
  <% if armazenamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(armazenamento.errors.count, "error") %> prohibited this armazenamento from being saved:</h2>

      <ul>
        <% armazenamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-3">
    <%= form.label :nome %>
    <%= form.text_field :nome,required: true %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= form.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Voltar', armazenamentos_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
