<%= form_with(model: movimentacao) do |form| %>
  <% if movimentacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movimentacao.errors.count, "Erro") %></h2>

      <ul>
        <% movimentacao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :produto_id %>
    <%= form.text_field :produto_id, required: true%>
  </div>

  <div class="field">
    <%= form.label :armazenamento_id %>
    <%= form.text_field :armazenamento_id, required: true%>
  </div>
  <div class="form-group col-sm-2">
    <%= label_tag "Data de" %>
    <%= date_field_tag :data, params[:data],class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= select_tag(:tipo, options_for_select([['ENTRADA', 'E'], ['SAIDA', 'S']]), required: true) %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
